@model IEnumerable<FinalProjectClasses.GymMngmnt.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
@Html.Partial("~/Views/Member/_DeleteMember.cshtml")
<table class="table table-striped table-bordered table-responsive">
    <tr class="bg-dark text-center" style="color: white">
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RollNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender.Name)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.Id" style="width: auto">
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofBirth)
            </td>
            <td>
                <img src="~/Content/MemberPics/@Url.Content(item.ImageUrl)" alt="@item.FullName" style="border-radius: 50%; height: 120px;width: 120px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RollNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.Name)
            </td>
            <td>
                <a href="#myModal" data-toggle="modal" id="@item.Id" class="hits"><span style="color: red" class="fa fa-remove"></span></a>&nbsp;|
                <a href="@Url.Action("UpdateMember","Member",new{id=item.Id})"><span style="color: green" class="fa fa-edit"></span></a>
            </td>
        </tr>
    }

</table>
<input type="hidden" id="hiddenOrderId" />
@section myscript
{
    <script type="text/javascript">
        $(function () {
            $(".hits").click(function () {
                var rid = $(this).attr("id");
                alert(rid);
                $("#hiddenOrderId").val(rid);
                $("#modal-id").model('show');
            });
            $("#hit").click(function (event) {
                var delRecord = $("#hiddenOrderId").val();
                alert(delRecord);
                $.ajax({
                    url: "/Admin/DeleteMember/" + delRecord,
                    type: "POST",
                    data: { id: delRecord },
                    success: function (result) {
                        $("#modal-id").modal('hide');
                        $("#row_" + delRecord).remove();
                    }
                });
            });
        });
    </script>
}

