@model IEnumerable<FinalProjectClasses.GymMngmnt.Instructer>
@{
    ViewBag.Title = "AllInstructer";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<table class="table table-striped mt-2">
    <tr class="text-white" style="background: black">
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achivements)
        </th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="row_@item.Id">
            <td>
                <img src="/Content/InstructorImages/@Url.Content(item.ImageUrl)" style="width: 50px; height:50px;border-radius: 50%" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achivements)
            </td>
            <td>
                <a href="@Url.Action("SelectInstructor", "Instructor", new {id = item.Id})" class="btn btn-outline-brown btn-md"><span style="color: green" class="fa fa-check"></span>&nbsp; Select instructor</a>
            </td>
        </tr>
    }
</table>
