@model IEnumerable<FinalProjectClasses.GymMngmnt.Instructer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.Partial("~/Views/Instructor/_DeleteInstructer.cshtml")
<table class="table table-striped mt-2">
    <tr class="text-white" style="background: black">
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achivements)
        </th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="row_@item.Id">
            <td>
                <img src="/Content/InstructorImages/@Url.Content(item.ImageUrl)" style="width: 50px; height:50px;border-radius: 50%" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achivements)
            </td>
            <td>
                <a href="#basicExampleModal1" data-toggle="modal" id="@item.Id" class="hits"><span style="color: red" class="fa fa-remove"></span></a>&nbsp;|
                <a href="@Url.Action("UpdateInstructor", "Instructor", new {id = item.Id})"><span style="color: green" class="fa fa-edit"></span></a>
            </td>
        </tr>
    }
</table>
<input type="hidden" id="hiddenOrderId" />
@section myscript
{
    <script type="text/javascript">
        $(function () {
            $(".hits").click(function () {
                var rid = $(this).attr("id");
                $("#hiddenOrderId").val(rid);
                $("#modal-id").model('show');
            });
            $("#hit").click(function (event) {
                var delRecord = $("#hiddenOrderId").val();
                $.ajax({
                    url: "/Admin/DeleteInst/" + delRecord,
                    type: "POST",
                    data: { id: delRecord },
                    success: function (result) {
                        $("#modal-id").modal('hide');
                        $("#row_" + delRecord).remove();
                    }
                });
            });
        });</script>
}
